/**==========================================   Header   === */

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .burger-btn {
    display: none;
  }

  .nav-link {
    position: relative;
    display: block;

    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    color: #2e2f42;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .nav-link.current {
    color: #404bbf;
  }

  .nav-link::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: -1px;

    opacity: 0;

    width: 100%;
    height: 4px;

    border-radius: 2px;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    background-color: #404bbf;
  }

  .nav-link.current::after {
    opacity: 1;
  }

  .nav-link:hover::after,
  .nav-link:focus::after {
    opacity: 1;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
  }

  @-webkit-keyframes pulsing {
    0% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
    50% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }

  @keyframes pulsing {
    0% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
    50% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }

  .address {
    display: block;
    margin-left: auto;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;

    /* padding-top: 0px;
    padding-bottom: 0px; */

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    color: #434455;
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  /**====================================   Section Hero   ===*/

  .hero {
    padding: 112px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);

    max-width: 1440px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(46, 47, 66, 0.7);
  }

  .hero-title {
    margin-bottom: 36px;

    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    color: #fff;
  }

  /** ===============================   Section Operating principles   ===*/

  .operating-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .operating-subtitle {
    text-align: left;
  }

  .operating-item {
    width: calc((100% - 24px * 1) / 2);
    margin-bottom: 0;
  }

  /**============================    Section Team   ===*/

  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px * 1) / 2);
  }

  /**====================================   Section Portfolio   ===*/

  .portfolio-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-img {
    height: 300px;
  }

  /**====================================   Footer   ===*/

  .footer-wrapper {
    justify-content: initial;
    column-gap: 24px;

    max-width: 584px;

    text-align: left;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-form-box {
    margin-left: 0;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-input {
    margin-bottom: 0px;

    min-width: 264px;
  }

  .footer-form-btn {
    margin: 0;
  }
}
